@use "/src/utils/styles/colors.scss";

.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid colors.$slate-300;
  background-color: #fff;
  border-radius: 8px;
  transition: 0.2s all ease-in-out;
  justify-content: space-between;
  gap: 10px;
  .title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: colors.$slate-600;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 1.2;
  }
  .comments {
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: colors.$slate-600;
    background-color: colors.$slate-200;
    font-size: 12px;
    font-weight: 500;
    width: fit-content;
    padding: 0 7px;
    height: 28px;
  }
  .body {
    display: flex;
    border-radius: 8px;
    background-color: colors.$slate-50;
    border: 1px solid colors.$slate-200;
    padding: 10px;
    > p {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      color: colors.$slate-600;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      display: -webkit-box;
    }
  }
  .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .author {
      display: flex;
      align-items: center;
      gap: 10px;
      .img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        min-height: 45px;
        width: 45px;
        min-width: 45px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 700;
        color: colors.$slate-100;
        background-color: colors.$slate-600;
      }
      .name {
        display: flex;
        flex-direction: column;
        gap: 3px;
        > p:nth-child(1) {
          font-size: 14px;
          font-weight: 400;
          margin: 0;
          color: colors.$slate-400;
          line-height: 1.1;
        }
        > p:nth-child(2) {
          font-size: 14px;
          font-weight: 600;
          margin: 0;
          color: colors.$slate-600;
          line-height: 1.1;
        }
      }
    }
  }
}
